services:
  app:
    build:
      context: .
      target: dev
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    volumes:
      - .:/app
      - app-node_modules:/app/node_modules
    stdin_open: true
    tty: true

volumes:
  app-node_modules:
